.DS_Store
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
.nrepl-port
src/main/resources/public/js/out
src/main/resources/public/js/app.js
src/main/resources/public/js/out.js.map
bower_components
node_modules
src/main/resources/public/assets/js
